html, body{
    margin:0;
    padding:0;
}
body{
    width:450px;
    height:335px;
    font-family:'Arial', sans-serif;
    font-size:10px;
    color:white;
}
/*
    Используемые цвета:
    #34495e - мокрый асфальт
    #c0392b - красный
    #3498DB - синий
*/

    
.header {
    background:#34495e;
    padding-bottom:5px;
}

.header-top {
    background: #c0392b;
    float:left;
    width:340px;
    height:25px;
    margin:10px 50px 10px 50px;
    padding:5px 5px 5px 5px;
}
    
.header-menu {
    background: #3498DB;
    display:block;
    height:20px;
    padding:5px 60px 10px 55px;
}

.bottom{
    margin:10px 0px 5px 50px;
    /*border:1px solid red;*/
    
}
    
.header-promo {
    background: #c0392b;
    display:inline-block;
    float:left;
    width:160px;
    height:45px;
    margin-right:10px;
    padding:5px 5px 10px 5px;
}

.header-promo:last-child{
    margin-right:0px;}

.content {
    display:inline-block;
    margin-left: 45px;
    margin-right: auto;  
    
}

.column {
    float:left;
    width:60px;
    margin:10px 5px 5px 5px;
    background: #3498DB;
    height:100px;
    padding:5px 5px;
}
.column-middle{
    width:180px;    
}
    
.footer {
    background:#34495e;
    height:30px;
    padding:5px 55px;
    margin-top:2px
}
    
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}