body {
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.main-menu {
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    border: 1px #E5E5E5 solid;
    width: 150px;
    background-color: #F5F5F5;
}
