.cat-snezhok {
    background-color: #2ecc71; /* Зеленый */
}

.cat-keksik {
    background-color: #e74c3c; /* Красный */
}

.box{
	background-color: #bdc3c7; /* Серый */
}

.cat-rudolf {
    background-color: #3498db; /* Синий */
}


/*
.cat-snezhok {
    background-color: #2ecc71; 
}

.box{
	background-color: #bdc3c7; 
}

.cat-keksik {
    background-color: #e74c3c; 
}
.cat-rudolf {
    background-color: #3498db; 
}
*/


/*
.box{
	background-color: #bdc3c7;
}

.cat-keksik {
    background-color: #e74c3c;
}
.cat-rudolf {
    background-color: #3498db;
}
.cat-snezhok {
    background-color: #2ecc71; 
}
*/