div {
    margin: 5px;
    padding: 5px;
    border: 1px dotted white;
}

.table {
    display: table;
    background: #D9EDF7;
    border-color: #3A87AD;
}

.row {
    background: #F2DEDE;
    border-color: #B94A48;
    display: table-row;
}

.cell {
    background: #FBEED5;
    border-color: #C09853;
}